.frameitembg select[name="z_pos_id"] {
	height: 19px;
	width: 230px;
}

.frameitembg select[name="z_pos_id"]  > option:hover {
	height: 25px;
	padding-left: 30px;
}

.frameitembg select[name="z_pos_id"]  > option:hover:after {
	display: block;
	margin-top: -2px;
	font-size: 10px;
}

.frameitembg select[name="checkid"]   > option:hover,
.frameitembg select[name="target_id"] > option:hover,
.frameitembg select[name="tube"]      > option:hover,
.frameitembg select[name*="anz"]      > option:hover,
.frameitembg select[name="filtercat"] > option:hover,
.frameitembg select[name="world"]     > option:hover {
	background: none !important;
}

.frameitembg select[name="checkid"]   > option:hover:after,
.frameitembg select[name="target_id"] > option:hover:after,
.frameitembg select[name="tube"]      > option:hover:after,
.frameitembg select[name*="anz"]      > option:hover:after,
.frameitembg select[name="filtercat"] > option:hover:after,
.frameitembg select[name="world"]     > option:hover:after {
	display: none !important;
}

/* gepresste Zauberkugel; große Zauberkugel; kleine Zauberkugel; Schattenflügel; Nebel der Teleportation */
.frameitembg option[value="2"]:hover { background: url(/addons/vti/i/a1.png) no-repeat 2px 0px; }
.frameitembg option[value="2"]:hover:after { content: "(Position X: 101 Y: 100)"; }
.frameitembg option[value="68"]:hover { background: url(/addons/vti/i/a2.png) no-repeat 2px 0px; }
.frameitembg option[value="68"]:hover:after { content: "(Position X: 85 Y: 102)"; }
.frameitembg option[value="73"]:hover { background: url(/addons/vti/i/a3.png) no-repeat 2px 0px; }
.frameitembg option[value="73"]:hover:after { content: "(Position X: 92 Y: 105)"; }
.frameitembg option[value="87"]:hover { background: url(/addons/vti/i/a4.png) no-repeat 2px 0px; }
.frameitembg option[value="87"]:hover:after { content: "(Position X: 97 Y: 108)"; }
.frameitembg option[value="110"]:hover { background: url(/addons/vti/i/a5.png) no-repeat 2px 0px; }
.frameitembg option[value="110"]:hover:after { content: "(Position X: 93 Y: 96)"; }
.frameitembg option[value="169"]:hover { background: url(/addons/vti/i/kon1s.png) no-repeat 2px 0px; }
.frameitembg option[value="169"]:hover:after { content: "(Position X: 81 Y: 94)"; }
.frameitembg option[value="290"]:hover { background: url(/addons/vti/i/a7.png) no-repeat 2px 0px; }
.frameitembg option[value="290"]:hover:after { content: "(Position X: 99 Y: 115)"; }
.frameitembg option[value="387"]:hover { background: url(/addons/vti/i/a8.png) no-repeat 2px 0px; }
.frameitembg option[value="387"]:hover:after { content: "(Position X: 501 Y: 51)"; }
.frameitembg option[value="437"]:hover { background: url(/addons/vti/i/a9.png) no-repeat 2px 0px; }
.frameitembg option[value="437"]:hover:after { content: "(Position X: 103 Y: 110)"; }
.frameitembg option[value="538"]:hover { background: url(/addons/vti/i/a10.png) no-repeat 2px 0px; }
.frameitembg option[value="538"]:hover:after { content: "(Position X: 80 Y: 87)"; }
.frameitembg option[value="816"]:hover { background: url(/addons/vti/i/a11.png) no-repeat 2px 0px; }
.frameitembg option[value="816"]:hover:after { content: "(Position X: 71 Y: 92)"; }
.frameitembg option[value="884"]:hover { background: url(/addons/vti/i/a12.png) no-repeat 2px 0px; }
.frameitembg option[value="884"]:hover:after { content: "(Position X: 92 Y: 90)"; }
.frameitembg option[value="988"]:hover { background: url(/addons/vti/i/a13.png) no-repeat 2px 0px; }
.frameitembg option[value="988"]:hover:after { content: "(Position X: 108 Y: 114)"; }
.frameitembg option[value="1079"]:hover { background: url(/addons/vti/i/a14.png) no-repeat 2px 0px; }
.frameitembg option[value="1079"]:hover:after { content: "(Position X: 100 Y: 94)"; }
.frameitembg option[value="1321"]:hover { background: url(/addons/vti/i/a15.png) no-repeat 2px 0px; }
.frameitembg option[value="1321"]:hover:after { content: "(Position X: 75 Y: 99)"; }
.frameitembg option[value="1715"]:hover { background: url(/addons/vti/i/a16.png) no-repeat 2px 0px; }
.frameitembg option[value="1715"]:hover:after { content: "(Position X: 66 Y: 111)"; }
.frameitembg option[value="4304"]:hover { background: url(/addons/vti/i/a17.png) no-repeat 2px 0px; }
.frameitembg option[value="4304"]:hover:after { content: "(Position X: 114 Y: 76)"; }

/* gelbe Zauberkugel; geklebte, gelbe Zauberkugel */
.frameitembg option[value="227"]:hover { background: url(/addons/vti/i/b1.png) no-repeat 2px 0px; }
.frameitembg option[value="227"]:hover:after { content: "(Position X: -798 Y: -798)"; }
.frameitembg option[value="244"]:hover { background: url(/addons/vti/i/b2.png) no-repeat 2px 0px; }
.frameitembg option[value="244"]:hover:after { content: "(Position X: -785 Y: -786)"; }
.frameitembg option[value="377"]:hover { background: url(/addons/vti/i/b3.png) no-repeat 2px 0px; }
.frameitembg option[value="377"]:hover:after { content: "(Position X: -803 Y: -808)"; }
.frameitembg option[value="1204"]:hover { background: url(/addons/vti/i/b4.png) no-repeat 2px 0px; }
.frameitembg option[value="1204"]:hover:after { content: "(Position X: -347 Y: -693)"; }
.frameitembg option[value="1366"]:hover { background: url(/addons/vti/i/b5.png) no-repeat 2px 0px; }
.frameitembg option[value="1366"]:hover:after { content: "(Position X: -599 Y: -449)"; }
.frameitembg option[value="3164"]:hover { background: url(/addons/vti/i/b6.png) no-repeat 2px 0px; }
.frameitembg option[value="3164"]:hover:after { content: "(Position X: -823 Y: -778)"; }
.frameitembg option[value="4332"]:hover { background: url(/addons/vti/i/b7.png) no-repeat 2px 0px; }
.frameitembg option[value="4332"]:hover:after { content: "(Position X: -507 Y: -377)"; }

/* Portalmaschine // TODO: Portal, nur auf dieser Position mit #x??y?? option */
.frameitembg option[value="2463"]:hover { background: url(/addons/vti/i/c1.png) no-repeat 2px 0px; }
.frameitembg option[value="2463"]:hover:after { content: "(Position X: 129 Y: 90)"; }
.frameitembg option[value="2609"]:hover { background: url(/addons/vti/i/c2.png) no-repeat 2px 0px; }
.frameitembg option[value="2609"]:hover:after { content: "(Position X: 144 Y: 126)"; }
.frameitembg option[value="3013"]:hover { background: url(/addons/vti/i/c3.png) no-repeat 2px 0px; }
.frameitembg option[value="3013"]:hover:after { content: "(Position X: 118 Y: 124)"; }
.frameitembg option[value="2113"]:hover { background: url(/addons/vti/i/c4.png) no-repeat 2px 0px; }
.frameitembg option[value="2113"]:hover:after { content: "(Position X: 58 Y: 98)"; }
.frameitembg option[value="1059"]:hover { background: url(/addons/vti/i/c5.png) no-repeat 2px 0px; }
.frameitembg option[value="1059"]:hover:after { content: "(Position X: 106 Y: 93)"; }
.frameitembg option[value="1581"]:hover { background: url(/addons/vti/i/c6.png) no-repeat 2px 0px; }
.frameitembg option[value="1581"]:hover:after { content: "(Position X: 90 Y: 115)"; }
.frameitembg option[value="2068"]:hover { background: url(/addons/vti/i/c7.png) no-repeat 2px 0px; }
.frameitembg option[value="2068"]:hover:after { content: "(Position X: 62 Y: 83)"; }
.frameitembg option[value="1766"]:hover { background: url(/addons/vti/i/c8.png) no-repeat 2px 0px; }
.frameitembg option[value="1766"]:hover:after { content: "(Position X: 59 Y: 106)"; }
.frameitembg option[value="2398"]:hover { background: url(/addons/vti/i/c9.png) no-repeat 2px 0px; }
.frameitembg option[value="2398"]:hover:after { content: "(Position X: 122 Y: 100)"; }
.frameitembg option[value="1813"]:hover { background: url(/addons/vti/i/c10.png) no-repeat 2px 0px; }
.frameitembg option[value="1813"]:hover:after { content: "(Position X: 115 Y: 100)"; }
.frameitembg option[value="1453"]:hover { background: url(/addons/vti/i/c11.png) no-repeat 2px 0px; }
.frameitembg option[value="1453"]:hover:after { content: "(Position X: 122 Y: 116)"; }
.frameitembg option[value="2216"]:hover { background: url(/addons/vti/i/c12.png) no-repeat 2px 0px; }
.frameitembg option[value="2216"]:hover:after { content: "(Position X: 135 Y: 115)"; }
.frameitembg option[value="1229"]:hover { background: url(/addons/vti/i/c13.png) no-repeat 2px 0px; }
.frameitembg option[value="1229"]:hover:after { content: "(Position X: 110 Y: 107)"; }
.frameitembg option[value="3098"]:hover { background: url(/addons/vti/i/c14.png) no-repeat 2px 0px; }
.frameitembg option[value="3098"]:hover:after { content: "(Position X: 96 Y: 78)"; }
.frameitembg option[value="2830"]:hover { background: url(/addons/vti/i/c15.png) no-repeat 2px 0px; }
.frameitembg option[value="2830"]:hover:after { content: "(Position X: 64 Y: 80)"; }
.frameitembg option[value="1749"]:hover { background: url(/addons/vti/i/c16.png) no-repeat 2px 0px; }
.frameitembg option[value="1749"]:hover:after { content: "(Position X: 72 Y: 116)"; }
.frameitembg option[value="1606"]:hover { background: url(/addons/vti/i/c17.png) no-repeat 2px 0px; }
.frameitembg option[value="1606"]:hover:after { content: "(Position X: 121 Y: 91)"; }
.frameitembg option[value="2350"]:hover { background: url(/addons/vti/i/c18.png) no-repeat 2px 0px; }
.frameitembg option[value="2350"]:hover:after { content: "(Position X: 111 Y: 83)"; }
.frameitembg option[value="3743"]:hover { background: url(/addons/vti/i/c19.png) no-repeat 2px 0px; }
.frameitembg option[value="3743"]:hover:after { content: "(Position X: 54 Y: 76)"; }
.frameitembg option[value="140"]:hover { background: url(/addons/vti/i/d1.png) no-repeat 2px 0px; }
.frameitembg option[value="140"]:hover:after { content: "(Position X: -100 Y: -95)"; }
.frameitembg option[value="3038"]:hover { background: url(/addons/vti/i/d2.png) no-repeat 2px 0px; }
.frameitembg option[value="3038"]:hover:after { content: "(Position X: -605 Y: -206)"; }
.frameitembg option[value="3519"]:hover { background: url(/addons/vti/i/d3.png) no-repeat 2px 0px; }
.frameitembg option[value="3519"]:hover:after { content: "(Position X: -827 Y: -919)"; }
.frameitembg option[value="2645"]:hover { background: url(/addons/vti/i/d4.png) no-repeat 2px 0px; }
.frameitembg option[value="2645"]:hover:after { content: "(Position X: -286 Y: -479)"; }

/* Stab des Handels */
.frameitembg option[value="31"]:hover { background: url(/addons/vti/i/e1.png) no-repeat 2px 0px; }
.frameitembg option[value="31"]:hover:after { content: "(Position X: 96 Y: 101)"; }
.frameitembg option[value="1019"]:hover { background: url(/addons/vti/i/e2.png) no-repeat 2px 0px; }
.frameitembg option[value="1019"]:hover:after { content: "(Position X: 87 Y: 87)"; }
.frameitembg option[value="1363"]:hover { background: url(/addons/vti/i/e3.png) no-repeat 2px 0px; }
.frameitembg option[value="1363"]:hover:after { content: "(Position X: 88 Y: 89)"; }
.frameitembg option[value="1403"]:hover { background: url(/addons/vti/i/e4.png) no-repeat 2px 0px; }
.frameitembg option[value="1403"]:hover:after { content: "(Position X: 87 Y: 90)"; }
.frameitembg option[value="1846"]:hover { background: url(/addons/vti/i/e5.png) no-repeat 2px 0px; }
.frameitembg option[value="1846"]:hover:after { content: "(Position X: 117 Y: 113)"; }

/* Ring des Sandwindes */
.frameitembg option[value="288"]:hover { background: url(/addons/vti/i/f1.png) no-repeat 2px 0px; }
.frameitembg option[value="288"]:hover:after { content: "(Position X: 98 Y: 120)"; }
.frameitembg option[value="972"]:hover { background: url(/addons/vti/i/f2.png) no-repeat 2px 0px; }
.frameitembg option[value="972"]:hover:after { content: "(Position X: 98 Y: 81)"; }
.frameitembg option[value="1443"]:hover { background: url(/addons/vti/i/f3.png) no-repeat 2px 0px; }
.frameitembg option[value="1443"]:hover:after { content: "(Position X: 121 Y: 112)"; }
.frameitembg option[value="1547"]:hover { background: url(/addons/vti/i/f4.png) no-repeat 2px 0px; }
.frameitembg option[value="1547"]:hover:after { content: "(Position X: 72 Y: 85)"; }
.frameitembg option[value="1612"]:hover { background: url(/addons/vti/i/f5.png) no-repeat 2px 0px; }
.frameitembg option[value="1612"]:hover:after { content: "(Position X: 123 Y: 92)"; }
.frameitembg option[value="1762"]:hover { background: url(/addons/vti/i/f6.png) no-repeat 2px 0px; }
.frameitembg option[value="1762"]:hover:after { content: "(Position X: 58 Y: 107)"; }
.frameitembg option[value="2014"]:hover { background: url(/addons/vti/i/f7.png) no-repeat 2px 0px; }
.frameitembg option[value="2014"]:hover:after { content: "(Position X: 65 Y: 96)"; }

/* Scheibe der Kampfgebiete */
.frameitembg option[value="2039"]:hover { background: url(/addons/vti/i/g1.png) no-repeat 2px 0px; }
.frameitembg option[value="2039"]:hover:after { content: "(Position X: -1298 Y: -1396)"; }
