[submodule "src/FlatLight"]
	path = src/FlatLight
	url = ../flatlight
[submodule "src/BetterSunfire"]
	path = src/BetterSunfire
	url = ../bettersunfire
[submodule "src/EpicSunfire"]
	path = src/EpicSunfire
	url = ../epicsunfire
[submodule "src/LightNoise"]
	path = src/LightNoise
	url = ../lightnoise
[submodule "src/kstyle"]
	path = src/kstyle
	url = ../kstyle
